@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

html {
  font-family: "Roboto Mono", monospace, system-ui;
  font-weight: bold;
}

body {
  background-color: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  min-height: 100vh;
  margin: 0;

  overflow-x: hidden;
  max-width: 100%;
}

footer {
  font-size: 1.25rem;
  font-weight: 400;
  justify-self: flex-end;
  padding-bottom: 2.5rem;
}

footer > a {
  text-decoration: none;
  color: inherit;
  transition: all 300ms;
}

button {
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.6rem;
  border: none;
  padding: 0.6rem;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  transition: all 300ms;
  cursor: pointer;
}

.disabled {
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 60%);
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  width: 100%;
}

.streak-container {
  display: flex;
  padding: 1.25rem;
  border: 0.25rem hsl(0, 0%, 20%) solid;
  border-radius: 3rem;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.game-container {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.game-container > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  gap: 3.5rem;
}

.moves {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.moves > * {
  flex: 0 1 0;
}

.fade-in {
  transition: all 300ms;
  animation: fadeIn ease 300ms forwards;
}

.slide-down {
  opacity: 0;
  transition: all 200ms;
  animation: slideDown ease 200ms forwards;
}

.slide-up {
  opacity: 1;
  transition: all 200ms;
  animation: slideUp ease 200ms forwards;
}

.grow-up {
  transition: all 70ms;
  animation: growUp ease-in-out 70ms;
}

.player-container,
.computer-container {
  display: flex;
  flex-direction: column;
}

.name-label {
  font-size: 1rem;
  color:hsl(0, 0%, 50%)
}

#result {
  text-align: center;
  flex: auto;
  font-size: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes growUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media (hover: hover) {
  footer > a:hover {
    transform: translateY(-0.25rem) scale(1.2);
  }
  button:hover {
    background-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 7%);
  }
}

@media (max-width: 600px) {
  .game-container {
    flex-direction: column;
    gap: 0;
  }

  #result {
    font-size: 1.5rem;
  }
}
