@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

html {
  background-color: hsl(0, 0%, 7%);
  font-family: "Roboto Mono", monospace, system-ui;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px;
  gap: 1rem;
  font-size: 2rem;
}
button {
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.6rem;
  border: none;
  padding: 0.6rem;
  font-size: 1.5rem;
  color: inherit;

  transition: all 300ms;
}
button:hover {
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 7%);
}
.container {
  display: flex;
  gap: 4rem;
}
.container > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moves {
  display: flex;
  gap: 1rem;
  width: 400px;
}
.moves > * {
  flex: 1;
  cursor: pointer;
}
